body {
	margin: 0px;
	min-width: 1440px;
}

#navbar {
	
	width: 100%;
	background-color: #333;
	position: relative;
	border: 1px solid black;
	height: 50px;
	margin-top: 0px;
}

.nav-ul {
	margin-bottom: 0;
	height: 50px;
	width: 650px;
	margin: 0;
	padding-left: 70px;
}
.nav-li {
	list-style: none;
	float: left;
	padding: 15px 15px;
	margin-right: auto;
}

.nav-link {
	text-decoration: none;
	color: white;
	display: block;
}

#user-info {
	margin: -50px 0 0 0 ;
	width: 300px;
	height: 50px;
	float: right;
	position: relative;
}
.container {
	position: relative;
	height: 100px;
}
.img-logo {

	position: absolute;
	left: 70px;
	top: 10px;
	display: block;
}
.img-logo img {
	width: 80px;
}
.product {
	position: absolute;
	top: 30px;
	margin: 0;
	height: 50px;
	padding-left: 400px;
}
.product a {
	color: black;
}
.search {
	list-style: none;
	float: left;
	margin-right: auto;
}
#search-box {
	border: 1px solid gray;
	border-right: 0;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	height: 40px;
	width: 250px;
	margin-left: 40px;
	padding: 0px;
	margin-top: 7px;
}

.search-button {
	height: 42px;
	width: 42px;
	border: 1px solid gray;
	border-left: 0;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	margin: 0;
	padding-left: 0;
	cursor:pointer;

}

.search-button : hover {
	background-color: white;
	color: #333;
	cursor:pointer; 
}
.pro-picture {
	border: 1px solid #333;
	position: relative;
	margin-left: 80px;
	margin-right: 80px;
	height: 400px;
}
.name-box{
	/*border: 1px solid red;*/
	position: absolute;
	display: block;
	width: 200px;
}

.name-box ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.name-box ul li {
	padding-left: 0;
	padding-top: 14px;
	padding-bottom: 14px;
	text-align: center;
	background-color: #333;
	display: block;
}
.name-box ul :hover {
	background-color: white;
	color: #333;
}
.pro-link {
	color: white;
	text-decoration: none;
	padding: 14px 62px;
}
